body{
  background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Epilogue", sans-serif;
  }
  
  header {
    align-content: center;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: grey;
  }

  h1{
    font-weight: 300;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vw;
    margin-right: 2vw;
    }
    
  nav a {
    margin-left: 2vw;
  }
  img {
    align-content: center;
  }

  p{
  line-height: 1.8;
}
  .grid {
    display: flex;
    align-content: center; 
    gap: 10px;
    height: 100vh; /* or any height you need */
}

.img1, .img2, .img3, .img4 {
    width: 30%; /* Adjust this as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images cover the area */
}

.img1 {
  position:absolute;
  left: 10vw;
}

.img2 {
    position: absolute;
   right: 20px;
}

.img3 {
  position: absolute;
  right: 150px;
  top: 30vw;
}

.img4 {
  position: absolute;
  left: 300px;
  top: 35vw;
}