body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Epilogue", sans-serif;
  }
  
  header {
    align-content: center;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: grey;
  }
  
  h1{
    font-weight: 300;
    margin-left: 3vw;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vw;
    margin-right: 2vw;
    }

  nav a {
    margin-left: 2vw;
  }

p{
  line-height: 1.8;
}

.ol{
  line-height: 1.5;
  grid-column: 2 / 3; 
  grid-row: 1 / 2;
}


img{
  width: 80%;
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}

.structure{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  align-content: center; 
  gap: 10px;
  height: 100vh; /* or any height you need */
}

