body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Epilogue", sans-serif;
  }
  body, html {
    height: 100%;
    overflow: hidden; 
}

.abstract-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 550px;
    background: radial-gradient(circle at center, rgba(255, 179, 2, 0.6) 0%, rgba(255, 179, 2, 0.6) 100%);
    border-radius: 50%; 
    animation: zoom-in-zoom-out 3s ease-in-out infinite, smoothColorTransition 12s ease-in-out infinite;
    filter: blur(30px);
    transform: translate(-50%, -50%);
    opacity: 0.3; 
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5, 1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes smoothColorTransition {
  0% {
      background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%);
  }
  25% {
      background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%);
  }
  50% {
      background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%);
  }
  75% {
      background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%);
  }
  100% {
      background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%);
  }
}

@keyframes move {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(20px, -20px); }
}

  header {
    align-content: center;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: grey;
  }
  
  h1{
    font-weight: 300;
    margin: 8vw 0 3vw 3vw;

  }
  nav {
    display: flex;
    justify-content: flex-end;
    margin: 3vw 2vw 0vw 0vw;
    text-transform: lowercase;
  
  }
  
  nav a {
    margin-left: 2vw;
    border-radius: 30px;
    border: 1px solid black; 
    padding: 10px 15px 10px 15px;
    font-size: 9pt;
  }

p{
  line-height: 1.8;
  margin-left: 3vw;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.english{
  font-size: 12pt;
  grid-column: 1 / 2; 
  
}

.french{
  font-style: italic;
  font-size: 11pt;
  grid-column: 2 / 3; 
  margin: 0 5px 0 0;
}



img{
  width: 80%;
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}

.structure{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  align-content: center; 
  gap: 10px;
  height: 100vh; /* or any height you need */
}

.list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px 0 0 0;
}

.C01{
  grid-column: 1 / 2; 
  padding: 10px 0 0 0;
}

.C02{
  grid-column: 2 / 3; 
  padding: 10px 0 0 0;
}



@media screen and (max-width:320px){
  img{
    width: 80%;
    max-width: 100%;
  }




}