html {
  font-size: 16px; /* Base font size 16px for easier scaling */
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.abstract-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34.375rem; /* 550px */
  height: 34.375rem; /* 550px */
  background: radial-gradient(circle at center, rgba(255, 179, 2, 0.6) 0%, rgba(255, 179, 2, 0.6) 100%);
  border-radius: 50%;
  animation: zoom-in-zoom-out 2s ease-in-out infinite, smoothColorTransition 12s ease-in-out infinite;
  filter: blur(30px);
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -999;
}

@keyframes zoom-in-zoom-out {
  0%, 100% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.5); }
}

@keyframes smoothColorTransition {
  0%, 25%, 50%, 75%, 100% {
    background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6) 0%, rgba(255, 0, 0, 0.6) 100%);
  }
}

header {
  display: flex;
  justify-content: center; /* Center header content */
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
  transition: color 0.3s ease; /* Smooth color transition */
}

a:hover {
  color: grey;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 4rem 0 1rem 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  text-transform: lowercase;
}

.hamburger {
  display: none;
  font-size: 2.25rem; /* Slightly larger */
  cursor: pointer;
}

nav a {
  margin-left: 0.125rem;
  border-radius: 1.875rem;
  border: 0.0625rem solid black;
  padding: 0.625rem 1rem;
  font-size: 0.5625rem;
}

.translation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.875rem;
  line-height: 1.8rem;
  margin: 0 1rem;
}

.english, .french {
  font-size: 0.9rem;
}

.french {
  font-style: italic;
  grid-column: 2 /3 ;
  grid-row: 1 / 2;
}

.english {
  font-style: italic;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

img {
  width: 80%;
  grid-column: 1;
  grid-row: 1;
}

.structure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
  align-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 0.5rem; /* Space between items */
  margin: 0 0 0 1rem; /* Adjust left margin */
  font-size: 0.9rem;
  align-items: start; /* Align items to the start of each grid cell */
}

.list li {
  list-style-type: none; /* Remove bullet points */
  margin-bottom: 0.5rem; /* Space between items */
}

.list a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
  display: block; /* Make the link a block-level element for easy click targets */
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  html {
    font-size: 1.4rem; /* Adjust base font size for tablets */
  }

  nav {
    flex-direction: column; /* Stack navigation items */
    align-items: flex-start;
    margin: 1rem;
  }

  .hamburger {
    display: block; /* Show hamburger menu */
  }

  .nav-links {
    display: none; /* Hide nav links by default */
    flex-direction: column;
    position: absolute;
    top: 3.75rem;
    right: 0;
    background-color: #fff;
    border: 0.0625rem solid black;
    z-index: 1000;
    width: 100%;
  }

  .nav-links.active {
    display: flex; /* Show nav links when active */
  }

  nav a {
    padding: 1rem;
    border-radius: 0;
    border: none;
    text-align: center;
    width: 100%;
  }

  h1 {
    margin-left: 1rem; /* Adjust margin for heading */
    font-size: 1.8rem; /* Reduce font size */
  }

  .translation-container {
    display: block; /* Stack translation containers */
    font-size: 0.875rem; /* Adjust font size */
    margin-top: 1rem;
    padding-left: 1rem;
  }

  .list {
    display: block; /* Stack list items */
    font-size: 0.875rem; /* Adjust font size */
    gap: 0.5rem;
  }
}


@media (max-width: 480px) {
  html {
    font-size: 1rem; /* Further reduce base font size for small devices */
  }

  .container {
    width: 100%; /* Full width for containers */
    padding: 0; /* Remove padding */
  }

  .translation-container {
    width: 100%; /* Full width for translation container */
    line-height: 1.2rem; /* Adjust line height */
    font-size: 0.75rem; /* Further reduce font size */
    margin-top: 0.5rem; /* Adjust margin */
    padding-left: 1rem;
  }

  .list {
    font-size: 0.75rem; /* Adjust font size */
    overflow: visible; /* Allow overflow */
    padding-left: 1rem; /* Adjust padding */
  }

  .list ul {
    margin-left: 1rem; /* Adjust margin */
    list-style-type: none; /* Remove bullet points */
  }

  .list a {
    display: block; /* Ensure links are block elements */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color */
    font-size: 0.75rem; /* Adjust font size */
  }

  h1 {
    font-size: 1.5rem; /* Reduce heading size */
  }

  .hamburger {
    font-size: 1.5rem; /* Adjust size of hamburger icon */
  }
}